/* responsive */
@media  screen and (max-width:992px) {
    header .logo svg {
        height: 30px;
    }
    .background {
        height: 746px;
    }
    .text-content h3, .faq h3{
        font-weight: 400;
        font-size:23px;
        margin: 0 auto;
        max-width: 450px;
    }
    .faq h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text-content form, .faq form{
        grid-template-columns: none;
        gap: 30px;
    }
    .cta input {
        width: 80%;
    }
    .cta input ~ span{
        left:80px;
        font-weight: 500;
    }
    .cta button {
        font-size: 1rem;
        font-weight: 500;
    }
    section {
        grid-template-columns: none;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .media.s1 video {
        left: 241px;
    }
    /* section .texts p {
        font-size: 1.25rem;
    } */
    section .download {
        left: 25%;
    }
    section .texts p, p , label.header {
        font-size: 1.25rem;
    }

    section .texts h1, .faq h1 {
        font-size: 2.5rem;
    }
    section:nth-child(even) div.texts {
        order: 0;
    }
    .faq form {
        text-align: center;
    }
}

/* @media screen and (max-width: 770px) {
    .media.s1 video {
        left: 0px;
    }
} */
@media  screen and (min-width: 769px) and (max-width: 890px){
    .media.s1 video {
        width: 47%;
        top: 62px;
        left: 190px;
    }
    .media.s1 img{
        width: 61%;
    }
}
@media screen and (max-width:768px){
    .background{
        height: 508.594px;
    }
    header .logo svg {
        height: 24px;
    }
    header a.button {
        padding: 4px 8px;
    }
    .cta button , header a.button{
        border-radius: 5px;
    }
    .splash .content {
        margin: 0;
        margin-top: 60px;
        left:0;
    }
    .splash h1 {
        margin-bottom: 13px;
    }
    .text-content h1 {
        font-size: 1.75rem;
    }
    .media.s1 img {
        width: 75%;
    }
    .media.s1 video {
        width: 100%;
        height: auto;
        max-width: 64%;
        top: 44px;
        left: 86px;
    }
    section .texts h1, .faq h1 {
        font-size: 27px;
    }
    section .texts p, p , label.header, .text-content h2 {
        font-size: 20px;
    }
    section .download {
        bottom: 0;
        left: 25%;
        width: 50%;
        height: auto;
    }
    section div.download img {
        height: 50px;
        width: auto;
    }
    .text-content h2 {
        margin-bottom: 10px;
    }
    .text-content h3, .faq h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .text-content h3 {
        padding: 0 10%;
    }
    .faq {
        padding:70px 0;
    }
    .cta input {
        width: 90%;
        padding: 13px;
    }
    .cta input ~ span{
        left:40px;
        font-weight: 500;
    }

}
@media  screen and (max-width: 500px) {
    .media.s1 video {
        top: 26px;
        left:50px;
    }
    section .download {
        bottom: 0;
        left: 15%;
        width: 65%;
        height: auto;
    }
}
